@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
.cart-product{
    max-width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color:var(--light-color);
    
}
.cart-product .cart-container{
    background-color: white;
    padding: 10px;
    border-radius: 5px;


}



